{
  "extends": [
    "standard",
    "standard-react"
  ],
  "globals": {
    "renderWithState": false
  },
  "rules": {
    "no-case-declarations": "off",
    "no-undef": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "react/destructuring-assignment": ["error", "always"],
    "semi": ["error", "always"],
    "strict": "off"
  },
}
