* {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Left {
  display: flex;
  width: 100%;
  height: 100%;
}

.Right {
  padding: 5px;
  width: 500px;
}

.FirstLevel {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff 0%, #fff 50%, #000 50%, #000 100%);
}

.SecondLevel {
  display: flex;
  width: 80%;
  height: 80%;
  background: linear-gradient(90deg, #0097d7 0%, #0097d7 50%, #fff 50%, #fff 100%);
}

.ThirdLevel {
  display: flex;
  width: 60%;
  height: 60%;
  background: linear-gradient(90deg, #ffdf1c 0%, #ffdf1c 50%, #ee3524 50%, #ee3524 100%);
}

.FourthLevel {
  display: flex;
  width: 40%;
  height: 40%;
  background: linear-gradient(0deg, #d18816 0%, #d18816 50%, #aa2d2a 50%, #aa2d2a 100%);
}

.Image-1 {
  background-image: url('../../assets/1.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.Image-2 {
  background-image: url('../../assets/2.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.Image-3 {
  background-image: url('../../assets/3.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.Image-4 {
  background-image: url('../../assets/4.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.Image-5 {
  background-image: url('../../assets/5.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
